.edit-profile-container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #FCF7FF;
}

.edit-profile-title {
    color: #06BBCC;
    text-align: center;
}

.profile-picture-upload,
.user-details-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px 0;
    padding: 8px;
    width: 80%;
    border: 1px solid #06BBCC;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-button {
    background-color: #06BBCC;
    color: white;
}

.back-button {
    background-color: #A07EE7;
    color: white;
}

.save-button {
    background-color: #C3B1E1;
    color: white;
}