.course-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
}

.filters select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjusted to allow two cards per row */
  gap: 20px;
}

.course-card {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.course-card:hover {
  transform: scale(1.02);
}

.course-card-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.course-card-header img {
  width: 80px; /* Increased width */
  height: 80px; /* Increased height */
  border-radius: 5px;
  margin-right: 10px;
}

.course-card-header h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.category {
  font-size: 0.9em;
  color: #666;
}

.description {
  padding: 0 10px;
  font-size: 0.9em;
  color: #555;
}

.duration {
  padding: 0 10px;
  font-size: 0.9em;
  color: #666;
}

.course-progress {
  padding: 0 10px;
  margin: 10px 0;
}

.progress-label {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.bar-container {
  background-color: #f0f0f0;
  border-radius: 5px;
  height: 8px;
  margin-top: 5px;
  width: 100%;
}

.bar-fill {
  height: 100%;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.completed {
  color: green;
  font-weight: bold;
  padding: 0 10px;
}

.incomplete {
  color: orange;
  font-weight: bold;
  padding: 0 10px;
}

.course-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 70px;
}

.view-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #007bff; /* Set background color for view button */
  color: white;
}

.view-btn:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.share-btn{
  size: 10px;
}


